aniso8601==7.0.0
astroid==1.6.6
attrs==19.1.0
beautifulsoup4==4.6.3
Click==7.0
Flask==1.1.1
flask-restplus==0.13.0
gunicorn==19.9.0
isort==4.3.21
ItsDangerous==1.0.0
Jinja2==2.10.1
jsonschema==3.0.2
lazy-object-proxy==1.4.2
lxml==4.2.5
MarkupSafe==1.0
mccabe==0.6.1
numpy==1.17.1
pandas==0.25.1
pylint==1.9.4
pyrsistent==0.15.4
pysqlite3==0.4.1
python-dateutil==2.8.0
pytz==2019.2
six==1.12.0
Werkzeug==0.15.6
wrapt==1.11.2
